.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* X Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* X Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(179, 155, 113);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.logo{
    text-decoration:none;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight:700;
    font-size: 1.8em;
    display: block;
}
.logo:hover {
    color: antiquewhite;
}
.navigation a{
    color:cornsilk;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(179, 50, 102);
}

section.main {
   padding-top: 100px;
    background-image: url(/image/pexels-photo-518245.jpeg);
    height:100vh;
    background-size: cover;
}
footer h3 {
color: rgb(16, 25, 148);

}
footer a{
    text-decoration: none;
    color: rgb(39, 39, 130);
}
.container .filmler{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-top: 100px;

}

.container .filmler figure {
    border: 1px black solid;
    border-radius: 10px;
}

.container .filmler figure img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

 .wrapper{
      margin:0;
   padding-top:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/image/images\ \(2\).jpeg)
}
 .wrapper .form{
    width: 420px;
   background: transparent;
   border: 2px solid rgba(128, 102, 128, 0.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: rgb(121, 81, 41);
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper .form h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: rgb(179, 172, 128);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 225, 255, .2);
    border-radius: 40px;
    font-size: 16px ;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.wrapper .input-box input::placeholder{
    color: rgb(78, 63, 18);
}
.wrapper .input-box i{ 
    position: absolute;
    right: 20px;    
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.btn{
    width: 100%;
    height: 45px;
    background: #d0d895;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(152, 89, 152, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(110, 80, 43);
    font-weight: 600;
    margin: 20px 0 15px;
}
.info{
    padding-top:70px;
}
.tanit .img{
    justify-content: center;
}




