.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* X Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* X Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(179, 155, 113);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration:none;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight:700;
    font-size: 1.8em;
    display: block;
}
.logo:hover {
    color: antiquewhite;
}
.navigation a{
    color:cornsilk;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(179, 50, 102);
}

section.main {
   padding-top: 100px;
    background-image: url(/image/pexels-photo-518245.jpeg);
    background-size: cover;
}
